*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background-color: #282c34;
  min-height: 100vh;
  margin: 15px auto;
  /* font-size: calc(10px + 2vmin); */
  color: wheat;
}

/* a {
  color: #61dafb;
} */

header, .home, .calculator, .notes, .todo {
  width: 70vw;
  margin: 20px auto;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  margin-top: 6px;
}

nav>h1 {
  cursor: pointer;
}

nav>h1:hover {
  color: yellow;
  text-decoration: dotted;
  text-transform: uppercase;
}

nav > menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav>menu>a {
  cursor: pointer;
  text-decoration: none;
  color: wheat;
}

nav>menu>a:hover {
  color: yellow;
  border-bottom: 3px solid yellow;
}

/* navigation component */
.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

aside {
  width: 45%;
}

.side-about {
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-about>button {
  padding: 10px 25px;
  font-size: 17px;
  font-weight: 700;
  border: 0;
  border-radius: 5px;
}

.div-overlay{
  position: fixed;
  height: 50%;
  width: 30%;
  border: 2px solid;
  bottom: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 1px 1px 3px 2px lightblue;
}
/* home component */

.calculator {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* calculator component */
.notes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* calculator with buttons and screen */
.calc-area {
  width: 70%;
  margin: auto;
   background: #565555;
  box-shadow: 1px 1px 3px 2px lightblue;
  color: wheat;
  padding: 5px;
  border-radius: 5px;
}

/* display section and component */
.screen {
  padding: 10px 8px;
  background-color: #282c34;
  border-radius: 5px;
  font-weight: 700;
  font-size: 17px;
  height: 80px;
}

/* buttons area formation */
.buttons-area {
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.button {
  font-weight: 700;
  background-color: #282c34;
  color: wheat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 0;
  font-size: 17px;
  box-shadow: 1px 1px 3px 2px lightblue;
}

.zero {
  background-color: yellowgreen;
  grid-column: 1/3;
}

.operator {
  background-color: yellowgreen;
  color: #282c34;
}

/* start a todo styles */
.todo {
  text-align: center;
}

.todo-menu {
  list-style: none;
  border: 1px solid #ccc;
  width: 50%;
  margin: 15px auto;
}